<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🇳🇵 NSA Admin Login</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="nsa-animation">Admin Panel</div>
    <div class="container">
        <h2>Admin Login</h2>
        <div class="form">
            <form action="/login" method="POST" id="adminLoginForm">
                <input type="email" id="adminEmail" placeholder="Admin Email" required>
                <input type="password" id="adminPassword" placeholder="Password" required>
                <button type="submit" id="submitButton">Login</button>
                <input type="button" value="Back to Home" id="backButton">
                <p id="loginStatus" class="error-message"></p>
            </form>
        </div>
    </div>

    <script src="/js/admin.js"></script>
</body>

</html>