<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🇳🇵 NSA Resgistration Portal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="nsa-animation">NSA-MSSTATE</div>
    <div class="container">
        <h1 id="heading">WELCOME TO NSA REGISTRATION PORTAL.</h1>
        <div class="buttons">
            <input type="button" value="Register" id="registerButton">
            <input type="button" value="Admin Panel" id="adminButton">
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>