<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <link rel="stylesheet" href="/css/thank-you.css">

</head>

<body>
    <div class="container">
        <div class="confirmation-box">
            <div class="icon-container">
                &#10004; <!-- Checkmark Icon -->
            </div>
            <h1>Submission Successful!</h1>
            <p>Thank you for registering. Your information has been received. Please wait for any email regarding your
                memebership.</p>
            <div class="button-group">
                <a href="/registration.html" class="btn">Register Another Person</a>
                <a href="/index.html" class="btn btn-secondary">Go to Homepage</a>
            </div>
        </div>
    </div>
</body>

</html>